@import "tailwindcss";

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.correct {
    animation: correctAnimation 2s ease-in-out;
}

.incorrect {
    animation: incorrectAnimation 0.5s ease-in-out;
}

@keyframes correctAnimation {
    0% {
        color: green;
        transform: scale(1);
    }
    50% {
        color: green;
    }
    100% {
        color: green;
        transform: scale(1);
    }
}

@keyframes incorrectAnimation {
    0% {
        color: red;
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        color: red;
        transform: translateX(0);
    }
}
